*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

@mixin container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

@mixin row($sizegap){
    display: flex ;
    align-items: center;
    gap: $sizegap;
}

body{
    background-color: #252B42;
    color: white;   
}
header{
    @include container();
    nav{
        @include row(20px);
        a{
            color: white;
            text-decoration: none;
        }
    }
    div{
        @include row(20px);
        button:first-child{
            border: none;
            background-color: transparent;
            color: white;
        }
        button:last-child{
            background-color: #23A6F0;
            color: white;
            padding: 15px 30px;
            border-radius: 10px;
            border: none;
        }
    }
    .icons{
        display: none;
    }
}

.section1{
    @include container();
    aside:first-child{
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1{
            font-size: 70px;
            z-index: 2;
        }
        p{
            font-size: 20px;
        }
        div{
            @include row(20px);
            button{
                border: none;
                padding: 15px 30px;
                border-radius: 30px;
                color: white;
            }
            button:first-child{
                background-color: #23A6F0;
            }
            button:last-child{
                background-color: transparent;
                border: 1px solid white;
            }
        }
        img{
            top: 100px;
            left: 0px;
            position: absolute;
        }
    }
    aside:last-child{
        position: relative;
       
        img:last-child{
            left: 0;
            z-index: -1;
            top: 80px;
            position: absolute;
        }
    }
}
.menu_mobile{
    display: none;
}
@mixin tops{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section2{
    margin-top: 50px;
    .top{
@include tops;
padding: 40px;
p{
    color:grey;
}
    }
    .row{
        display: flex;
        gap:30px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        .card{
            display: flex;
            gap:20px;
            padding: 30px;
            border: 2px solid white;
            .inf{
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
            .bl{
                display: none;
            }
        }
    }
}

@media (max-width: 500px){
    header{
        nav, div{
            display: none;
        }
    }
    .icons{
        display: flex !important;
    }
    .section1{
        flex-direction: column;
        row-gap: 50px;
        margin-top: 200px;
        aside:last-child{
            img{
                width: 100%;
               
            }
        }
                div{
            display: flex;
            flex-direction: column;
        }  
    }
    .menu_mobile{
        display: block;
        nav{
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 20px;
            justify-content: center;
            align-items: center;
        }
        a{
            color: white;
            font-size: 50px;
            text-decoration: none;
        }  
    
    }
    .section2{
        .row{
            flex-direction: column;
            row-gap: 20px;
            .card{
                border: none;
                width:90%;
                .pk{
                    display: none;
                }
                .bl{
                    display: block;
                }
            }
        }
    }
}